.page{
    text-align: center;
    height: 100px;
    width: 300px;
    padding-top: 10px;
    margin-left: 40%;
    margin-top: 20%;
    border-radius: 10px;
    background-color: rgb(186, 186, 27);

}
.nav{
    background: linear-gradient(pink,blue);
    display: flex;
    font-size: large;
    border-radius: 10px;
    margin-top: 15px;
   
}
.nav-item{
    margin-right: 100px;
    text-decoration: none;
    color: black;
   
    
}